<div id="divGrey">
<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<div class="row">
<div class="panel panel-primary  col-sm-4">
		<br>
        <div class="panel-heading">Profile Picture</div>
        <div class="panel-body"><img ng-src="{{link}}" class="img-responsive" style="width:150px; height:200px" alt="Image"></div>
</div>
<div class="col-sm-8">        
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
       {{user.userId}} {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-show="vm.user.role=='admin'" ng-click="vm.deleteUser(user.userId)">Delete</a>
    </li>
</ul>
</div>
</div>
<br>
<div>
<p><a href="#!/createblog" class="btn btn-primary">Create Blog</a>
   <a href="#!/updateProfile" class="btn btn-primary">Update your Profile</a>
   <a href="#!/postjob" ng-show="vm.user.role=='admin'" class="btn btn-primary">Post A Job</a>
   <a href="#!/postevent" ng-show="vm.user.role=='admin'" class="btn btn-primary">Post An Event</a></p>
<p><a href="#!/listnewblogs" ng-show="vm.user.role=='admin'" class="btn btn-primary">List of New Blogs</a>
   <a href="#!/usermgnt" ng-show="vm.user.role=='admin'" class="btn btn-primary">User Management</a></p>
<p><a href="#" ng-click="vm.logout()" class="btn btn-primary">Logout</a></p>
</div>
</div>
