<div class="container" id="divBlogContent">
<br>
<h2><b>Friend Requests for	you:</b></h2>
	
	
	<p><input type="text" ng-model="search"></p>
	<hr>
	<div ng-repeat="friendRequest in vm.friendRequests | filter: search">
	     <fielset>
		     <p>Name: {{friendRequest.friend.username}} 
			 	&nbsp; &nbsp; &nbsp;
                 <button type="button" ng-click="vm.acceptFriendRequest(friendRequest.friend.userId)"
				   class="btn btn-success btn-sm">Accept Friend Request</button>
				 <button type="button" ng-click="vm.rejectFriendRequest(friendRequest.friend.userId)"
				   class="btn btn-warning btn-sm">Reject Friend Request</button>
		     </p>
			 
         </fielset>	
         <hr>
</div>	
</div>