<div>
      <div ng-show="currentUser==''">
           <div class="alert alert-danger fade in">
		        <div>
				    You are not logged in.. Please Login <a href="#/login"> here </a>
				</div>
				
				<div>
				    If you are not registered, you can register <a href="#/register"> here </a>
				</div>
		   
		   </div>
	  </div>
	  
	  <div ng-hide="currentUser==''">
	       <div class="generic-container">
		        <form ng-submit="vm.blogSubmit()" name="myBlogForm" id="myBlogForm" class="form-horizontal" role="form">
				      <label>Please fill the blog details..</label>
					  
					  <div class="row">
					       <div class="form-group col-md-12">
						   <label class="col-md-12 control-lable" for="blogTitle">Title</label>
						      <div class="col-md-7">
						        <input type="text" ng-model="vm.blog.blogTitle" id="blogTitle"
								   class="title form-control input-sm"
								   placeholder="Enter Blog Title"
								   required ng-minlength="5" />
						      </div>
						   </div>
					  </div>
					  
					  <div class="row">
						<div class="form-group col-md-12">
						<label class="col-md-12 control-lable" for="blogContent">Content:</label>
		     				<div class="col-md-7">
								<textarea rows="20" cols="100" form="myBlogForm"
										ng-model="vm.blog.blogContent"
 										id="blogContent" class="blogContent form-control input-sm"
										placeholder="Enter Blog's Content" required 
										ng-minlength="50" ng-maxlength="500">
								</textarea>  
							</div>
						</div>
					</div>
					  
					  <div class="row">
					       <div class="form-actions floatRight">
						       <input type="submit" value="Create Blog" class="btn btn-primary btn-sm" />
							   <button type="button" ng-click="vm.blogReset()"
                                      class="btn btn-warning btn-sm">Reset Blog</button>
						   </div>
					  </div>
				</form>	  
		   </div>	  
	  </div>
</div>