<div class="container" id="divBlogContent">
<br>
<h2><b>Recent Posts:</b></h2>
<hr />
<div ng-repeat="blog in vm.allBlogs">
  <div class="card">
    <div class="container">
      <h3><b>{{blog.blogTitle}}</b></h3>
      <h5>By: {{blog.user.username}}</h5>
	  <h6><span class="glyphicon glyphicon-time"></span>{{blog.dateTime  | date:'MMM d, y hh:mm a'}}</h6>
    </div>
    <div class="container">
      <p class="showLess">{{blog.blogContent}}</p>
      <p><button class="btn btn-default" ng-click="vm.getBlog(blog.blogId)"><b>READ MORE »</b></button></p>        
    </div>
  </div>
</div>
</div>
