<div class="container" id="divBlogContent">
<br>
	<div>
      <h2>{{selectedBlog.blogTitle}}</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by {{selectedBlog.user.username}}, {{selectedBlog.dateTime  | date:'MMM d, y hh:mm a'}}</h5>
      <h5><span class="label label-danger">Blog</span></h5><br>
      <hr>
      <p>{{selectedBlog.blogContent}}</p>
      <br><br>
	  <hr>
	</div>
	
	<form ng-submit="vm.commentSubmit(selectedBlog.blogId)" name="myCommentForm" id="myCommentForm">
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea ng-model="vm.blogComment.blogComment" class="form-control input-lg" rows="5" id="comment"></textarea>
      <input type="submit" value="add Comment" class="btn btn-primary btn-sm" />
    </div>
   </form>
  
  <h2>Comments:</h2>
	  <div ng-repeat="blogComment in vm.allBlogComments">
        <p ngshow="selectedBlog.blogId==blogComment.blog.blogId">{{blogComment.user.firstName}}: {{blogComment.blogComment}}</p>
	  </div>
	    
</div>
