<div class="container"  id="divBlogContent">
<br>
<h2><b>Events you have joined:</b></h2>
<hr />

<div ng-repeat="joinevent in vm.allJoinedEvents">
    <div class="card">
    <div class="container">
    <h3><b>Title: {{joinevent.event.eventTitle}}</b></h3>
    <h5>Created By: {{joinevent.event.createdBy.username}}</h5>
	<p> Date of Event: {{joinevent.event.eventDateTime | date:'MMM d, y hh:mm a'}}</p>
	<p><button class="btn btn-default" ng-click="vm.getEvent(joinevent.event.eventId)"><b>Get Event Details</b></button></p>
	</div>
	</div>
	<br>    
</div>
</div>
