<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Sproject</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" type="text/javascript"></script>
    
  <script src="https://use.fontawesome.com/034feea29c.js"></script>
  
  <link rel="stylesheet" type="text/css" href="resources/styles.css">
  
</head>
<body>

<!-- Top Navigation Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fuild">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Sproject</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="#!/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a></li>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i>&nbsp; Blogs <span class="caret"> </span></a>
      <ul class="dropdown-menu">
        <li><a href="#!/createblog">Create a Blog</a></li>
        <li><a href="#!/listblog">List of Blogs</a></li>
      </ul>
    </li>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp; Bulletins <span class="caret"> </span></a>
      <ul class="dropdown-menu">
        <li><a href="#!/listevents">List of Events</a></li>
        <li><a href="#!/joinedevents">List of Joined Events</a></li>
      </ul>
    </li>
	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-briefcase fa-fw" aria-hidden="true"></i>&nbsp; Jobs <span class="caret"> </span></a>
      <ul class="dropdown-menu">
        <li><a href="#!/postjob">Post a Job</a></li>
        <li><a href="#!/searchjob">List of Jobs</a></li>
      </ul>
    </li>
	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Friends <span class="caret"> </span></a>
      <ul class="dropdown-menu">
        <li><a href="#!/searchfriend">Search for Friends</a></li>
        <li><a href="#!/friendrequest">My Friend Requests</a></li>
		<li><a href="#!/viewfriend">My Friends</a></li>
      </ul>
    </li>
	<li><a href="#!/chat_forum"><i class="fa fa-comments fa-fw" aria-hidden="true"></i>&nbsp; Chat Forum</a></li>      
  </ul>
  <ul class="nav navbar-nav navbar-right">
      <li><a href="#!/login" ng-hide="vm.user.role=='admin' || vm.user.role=='user'"><span class="glyphicon glyphicon-user"></span> Login</a></li>
      <li><a href="#!/register" ng-hide="vm.user.role=='admin' || vm.user.role=='user'"><span class="glyphicon glyphicon-log-in"></span> Sign Up </a></li>
	  <li><a href="#" ng-hide="vm.user.role!='admin' || vm.user.role!='user'" ng-click="vm.logout()"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp; Logout</a></li>  
  </ul>
</div>
</nav>
	
	
    <div class="jumbotron">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div ng-view></div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.angularjs.org/1.6.0/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.0/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.6.0/angular-cookies.min.js"></script>

    <script src="app.js"></script>
    <script src="app-services/authentication.service.js"></script>
    <script src="app-services/flash.service.js"></script>

    <script src="resources/navbarHover.js"></script>
    
    <!-- Real user service that uses an api -->
    <script src="app-services/user.service.js"></script>
    
    <script src="app-services/job.service.js"></script>
	<script src="app-services/blog.service.js"></script>
	<script src="app-services/event.service.js"></script>
	<script src="app-services/chat.service.js"></script>
	<script src="app-services/privatechat.service.js"></script>
	<script src="app-services/friend.service.js"></script>
	
    <!-- Fake user service for demo that uses local storage -->
    <!-- <script src="app-services/user.service.local-storage.js"></script> -->

    <script src="home/home.controller.js"></script>
    <script src="login/login.controller.js"></script>
    <script src="register/register.controller.js"></script>
    <script src="job/job.controller.js"></script>
    <script src="event/event.controller.js"></script>
    <script src="blog/blog.controller.js"></script>
    <script src="chat/chat.controller.js"></script>
    <script src="privatechat/privatechat.controller.js"></script>
    <script src="friend/friend.controller.js"></script>
    
<!-- Footer -->
<footer class="footer" id="footer">
   <div class="container">
     <div class="row">
        <div class="col-sm-6">
           <span class="copyright text-inverse"><h4>Copyright © Sproject Inc. 2016</h4></span>
        </div>
        <div class="col-sm-6">
            <div class="row">
              <div class="col-md-12 hidden-xs text-right">
                <a href="#"><i class="fa fa-2x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-2x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-2x fa-fw fa-facebook text-inverse"></i></a>
              </div>
            </div>
        </div>
      </div>		
    </div>
</footer>
</body>
</html>